@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h3 class="display-4">ВиОВ</h3>
    <h3 class="display-4">Самостоятельная работа</h2>
    <p>2021.11.05.04.59</p>
    <p>23.43</p>
    <p>gr00321</p>
    <h3>@Model.FIO</h3>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
